body{
    background-color: #deecf5;
    font-family: 'Courier New', Courier, monospace;
}

thead{
    background-color: rgb(250, 218, 164);
    font-size: 20px;
    text-align: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tbody{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
/*     background-color: rgba(255, 255, 255, 0.863); */
}


/* class */
.img-style1{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:15px ;
    background-color: rgb(248, 248, 248);
    width: 150px;
    height: 200px;
}

.style1{
    background-color: rgb(61, 126, 180);
    color: white;
    padding: 5px;
    
}

.a{
    text-decoration-line: none;
    color: rgb(167, 34, 155);
    
}


.d{
    background-color: rgba(196, 188, 194, 0.493);
    color: rgba(221, 181, 0, 0.74);
}

/* id */
#main{
    background-color: rgb(155, 189, 211);
}






